.align-items-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section{
   display: flex;
   justify-content: center;
}
.cs-section_subtitle{
    margin-bottom: 4%;
    color: #bef264;
}